<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Apply Page</title>
    <link rel="stylesheet" href="{% static 'css/tablestyle.css' %}"/>
  </head>
  <body>
    <h1>These are your lab requests</h1>

    <div class="tableClass">
      {% if labRequests %}
      <table>
        <thead>
          <th>Lab Name</th>
          <th>Student Name</th>
          <th>Date Sent</th>
          <th>Approval Status</th>
          <th>Remark</th>
        </thead>

        {% for req in labRequests %}
        {% if req.student_name.roll_number == student_roll %}

        <tr>
          <td align="right">{{ req.name.course_id }}</td>
          <td align="right">{{ req.student_name.student_name }}</td>
          <td align="right">{{ req.date_sent }}</td>
          {% if req.approved == 0 %}
          <td align="right">Waiting...</td>
          {% endif %}
          {% if req.approved == 1 %}
          <td align="right">Approved</td>
          {% endif %}
          {% if req.approved == 2 %}
          <td align="right">Rejected</td>
          {% endif %}
          <td>{{ req.remark }}</td>
        </tr>
        {% endif %}
        {% endfor %}

      </table>
      {% else %}
      <p>No record found</p>
      {% endif %}



    </div>

    <h1>These are your miscellaneous requests</h1>
    <div class="tableClass">
      {% if otherRequests %}
      <table>
        <thead>
          <th>Name</th>
          <th>Student Name</th>
          <th>Date Sent</th>
          <th>Approval Status</th>
          <th>Remark</th>
        </thead>

        {% for req in otherRequests %}


        {% if req.student_name.roll_number == student_roll %}
        <tr>
          <td align="right">{{ req.name.name }}</td>
          <td align="right">{{ req.student_name.student_name }}</td>
          <td align="right">{{ req.date_sent }}</td>
          {% if req.approved == 0 %}
          <td align="right">Waiting...</td>
          {% endif %}
          {% if req.approved == 1 %}
          <td align="right">Approved</td>
          {% endif %}
          {% if req.approved == 2 %}
          <td align="right">Rejected</td>
          {% endif %}

        </tr>


        {% endif %}
        {% endfor %}

      </table>
      {% else %}
      <p>No records found</p>
      {% endif %}



    </div>




  </body>
</html>
